body {
        background-image:url('../images/wallpaper-610704_1280.png');
        margin-top: 0;
        margin-left: 0;
        background-size: cover;
}
header{
    background-color: rgb(147, 224, 75);
    margin-top: 20px;
    text-align: center;
    font-size: 4rem;
    border: 2px solid black;

    
       
}

#bravo{
    border: 2px black solid;
    background-color: rgb(106, 166, 235);
   
    margin-top: 12px;
}

#charlie{
    border: 2px  black solid;
    background-color: rgb(212, 99, 212);
    margin-top: 12px;
    
}

#delta{
    border: 2px black solid;
    background-color: rgb(226, 98, 98);
    margin-top: 12px;
  
}

#echo{
    border: 2px whitesmoke solid;
    background-color:black;
    margin-top: 12px;
    
   
}

#foxtrot{
    border: 2px white solid;
    background-color: rgb(221, 219, 113);
    margin-top: 12px;
    
   
}